/*
 * Intro step slide
 */
#intro {
    text-align: center;
}
#intro  h1{
    font-size: 2em;
	font-weight: bold;
	height: 80px;
    padding-top: 50px;
    background-image: url(../img/Categories-applications-education-university-icon.png);
    background-position: top left;
    background-repeat: no-repeat;
}
#intro p {
    font-size: 1.2em;
}

/*
 * Speakers step slides
 */
.speaker h1 {
    font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 20px;
}
.speaker div.whoami {
    font-size: 1.1em;
	margin: 40px;
	padding: 10px;
}
.speaker > p {
    font-size:1.1em;
	margin-left: 30px;
	margin-bottom: 10px;
}
.speaker p img {
    vertical-align: middle;
	padding-right: 20px;
}
.speaker div.avatar {
    position: absolute;
    margin-left: 658px;
    margin-top: -60px;
}

/*
 * Question steps
 */
#impressjs q, #pomodoro  q, #play q {
    font-size: 2em;
}
#impressjs h1, #pomodoro h1, #play h1, #poll h1 {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}
#impressjs.present .rotating, #pomodoro.present .rotating, #play.present .rotating,  #poll.present .rotating  {
    -webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}
#stopslides p , #firstpomodoro p, #goodies p{
    font-size: 1.1em;
	margin-bottom: 20px;
}
#firstpomodoro p {
    color: #900000;
}
#stopslides img, #firstpomodoro img{
    vertical-align: middle;
}

/*
 * Ready ? Go ! steps
 */
#ready p, #go p {
    font-size : 4em;
}
#go p img {
    vertical-align: middle;
	padding-right: 20px;
}

/*
 * BPM steps
 */
#bpm p {
    font-size: 3em;
}
#business p, #process p, #management p {
    font-size: 1.5em;
}

/*
 * Bonita steps
 */
#poll p {
	font-size: 2em;
}
#bos5 p {
    text-align: center;
}
#draw h1, #connect h1, #run h1 {
	font-size: 1.8em;
	font-weight: bold;
	height: 80px;
	text-indent: 150px;
	padding-bottom: 50px;
}
h1.draw {
    background-image: url(../img/Nuvola_apps_kedit.png);
    background-position: top left;
    background-repeat: no-repeat;
}
h1.connect {
    background-image: url(../img/Nuvola_apps_usb.png);
    background-position: top left;
    background-repeat: no-repeat;
}
h1.run {
    background-image: url(../img/Nuvola_apps_kservices.png);
    background-position: top left;
    background-repeat: no-repeat;
}

/*
 * Credits step
 */
#credits h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
#credits p {
	font-size: 0.8em;
}
#credits img {
    vertical-align: middle;
}
/*
 * Generic styles
 */
span.strike{
    text-decoration: line-through;
}
.bigred {
	font-weight: bold;
	color: #BB0000;
}
.slide a {
    background: rgba(200,200,200,0.5);
	font-size: 0.8em;
}
h1.question, h1.poll {
    font-size: 2em;
	font-weight: bold;
	color: #003366;
	height: 80px;
	text-indent: 150px;
	padding-bottom: 120px;
}
h1.question {
    background-image: url(../img/Nuvola_apps_kmix.png);
    background-position: top left;
    background-repeat: no-repeat;
}
h1.poll {
	background-image: url(../img/Nuvola_apps_kcmpartitions.png);
    background-position: top left;
    background-repeat: no-repeat;
}

li {
    display : list-item;
    list-style-image : url(../img/Map-Marker-Push-Pin-1-Left-Pink-icon.png);
}
li.poll {
    display : list-item;
    list-style-image : url(../img/Map-Marker-Push-Pin-1-Left-Azure-icon.png);
}

