/*
 * Intro step slide
 */
#intro {
    text-align: center;
}
#intro  h1{
    font-size: 2em;
	font-weight: bold;
	height: 80px;
    padding-top: 50px;
    background-image: url(../img/Categories-applications-education-university-icon.png);
    background-position: top left;
    background-repeat: no-repeat;
}
#intro p {
    font-size: 1.2em;
}

/*
 * Speakers step slides
 */
.speaker h1 {
    font-size: 2em;
}

/*
 * Question steps
 */
#impressjs q, #pomodoro  q{
    font-size: 2em;
}
#impressjs h1, #pomodoro h1 {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}
#impressjs.present .rotating, #pomodoro.present .rotating {
    -webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}
#stopslides p , #firstpomodoro p{
    font-size: 1.1em;
	margin-bottom: 20px;
}
#firstpomodoro p {
    color: #900000;
}
#stopslides img, #firstpomodoro img{
    vertical-align: middle;
}
/*
 * Generic styles
 */
h1.question {
    font-size: 2em;
	font-weight: bold;
	color: #003366;
	height: 80px;
	text-indent: 150px;
	padding-bottom: 120px;
    background-image: url(../img/Nuvola_apps_kmix.png);
    background-position: top left;
    background-repeat: no-repeat;
}

